footer {
 
  background-color: #510657;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1em;
  padding:1em;
 

}


a{
  text-decoration: none;

}

.copyright {
  
  color: white;
}

.links,
.social-media-icons {
  display: flex;
  flex-direction: row;
  gap: 5em;
 
}

.social-media-icons {
  text-align: center;
  gap: 5em;
  padding-right: 5em;
 
}
