.confirmationView {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1em auto;

    color: #fff; /* Light text color */
    padding: 20px; /* Add padding for better spacing */
}

.un-order {
    text-align: left;
    border: #8a8888;
}

.un-order > li {
    margin: 1em;
    color: #fff; /* Light text color for list items */
    border: #8a8888;
}
